/**************************/


/*     General Styles     */


/**************************/

body,
html {
    width: 100%;
    height: 100%;
}

body,
p {
    color: #222222;
    font: 400 18px "Open Sans", sans-serif;
    line-height: 28px;
}

h1 {
    color: #222222;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.25rem;
    letter-spacing: -0.4px;
}

h2 {
    color: #222222;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.625rem;
    letter-spacing: -0.4px;
}

h3 {
    color: #222222;
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: -0.2px;
    text-align: center;
    font-weight: bold;
}

h4 {
    color: #222222;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.2px;
}

h5 {
    color: #222222;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.625rem;
}

h6 {
    color: #222222;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.375rem;
}

.p-large {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.p-small {
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.li-space-lg li {
    margin-bottom: 0.5rem;
}

a {
    color: #5e6576;
    text-decoration: underline;
}

a:hover {
    color: #fee038;
    text-decoration: underline;
}

.iframesize {
    height: 315 !important;
    width: 560 !important;
}

.documentPdf {
    width: 100%;
    height: 1000px;
}

.no-line {
    text-decoration: none;
}

.no-line:hover {
    text-decoration: none;
}

.section-title {
    display: inline-block;
    margin-bottom: 0.75rem;
    padding: 0.125rem 1.75rem;
    border-radius: 30px;
    background-color: #fee038;
    color: #222222;
    font-weight: 600;
    font-size: 0.875rem;
}

.btn-solid-reg {
    display: inline-block;
    padding: 1.375rem 2.25rem 1.375rem 2.25rem;
    border: 1px solid #a9a9a9;
    border-radius: 30px;
    background-color: #fee038;
    color: #222222;
    font-weight: 600;
    font-size: 15px;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-solid-reg:hover {
    background-color: #d1d6d8;
    color: #222222;
    /* needs to stay here because of the color property of a tag */
    text-decoration: none;
}

.btn-solid-lg {
    display: flex;
    padding: 2rem 12rem 2rem 12rem;
    border: 1px solid #a9a9a9;
    border-radius: 30px;
    background-color: #fee038;
    color: #222222;
    font-weight: 600;
    font-size: 15px;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-solid-lg:hover {
    background-color: #d1d6d8;
    color: #222222;
    /* needs to stay here because of the color property of a tag */
    text-decoration: none;
}

.btn-solid-sm {
    display: inline-block;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: 1px solid #a9a9a9;
    border-radius: 30px;
    background-color: #fee038;
    color: #222222;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-solid-sm:hover {
    background-color: #d1d6d8;
    color: #222222;
    /* needs to stay here because of the color property of a tag */
    text-decoration: none;
}

.btn-outline-reg {
    display: inline-block;
    padding: 1.375rem 2.25rem 1.375rem 2.25rem;
    border: 1px solid #a9a9a9;
    border-radius: 30px;
    background-color: #fee038;
    color: #222222;
    font-weight: 600;
    font-size: 15px;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-outline-reg:hover {
    background-color: #d1d6d8;
    color: #222222;
    text-decoration: none;
}

.btn-outline-lg {
    display: inline-block;
    padding: 1.625rem 2.625rem 1.625rem 2.625rem;
    border: 1px solid #a9a9a9;
    border-radius: 30px;
    background-color: #fee038;
    color: #222222;
    font-weight: 600;
    font-size: 15px;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-outline-lg:hover {
    background-color: #d1d6d8;
    color: #222222;
    text-decoration: none;
}

.btn-outline-sm {
    display: inline-block;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: 1px solid #a9a9a9;
    border-radius: 30px;
    background-color: #fee038;
    color: #222222;
    font-weight: 600;
    font-size: 15px;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-outline-sm:hover {
    background-color: #d1d6d8;
    color: #222222;
    text-decoration: none;
}

select {
    /* you should keep these first rules in place to maintain cross-browser behavior */
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url("../images/down-arrow.png");
    background-position: 98% 50%;
    background-repeat: no-repeat;
    outline: none;
}

.img-logo {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.img-logo:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}


/**********************/


/*     Navigation     */


/**********************/

.navbar {
    background-color: #fff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0.875rem;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.05);
}

.navbar .navbar-brand {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.navbar .logo-image img {
    width: 133px;
    height: 30px;
}

.navbar .logo-text {
    color: #222222;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 1rem;
    text-decoration: none;
}

.offcanvas-collapse {
    position: fixed;
    top: 3.25rem;
    /* adjusts the height between the top of the page and the offcanvas menu */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #f9f9f9;
    transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.navbar .navbar-nav {
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    color: #222222;
    text-decoration: none;
    transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
    color: #fee038;
}

.navbar .navbar-toggler {
    padding: 0;
    border: none;
    font-size: 1.25rem;
}

.navbar .btn-solid-sm {
    border-color: #fee038;
    background-color: #fee038;
}

.navbar .btn-solid-sm:hover {
    background-color: transparent;
    color: #222222;
}


/******************/


/*     Header     */


/******************/

.header {
    padding-top: 8rem;
    padding-bottom: 5rem;
    text-align: center;
}

.header .h1-large {
    margin-bottom: 1.25rem;
}

.header .p-large {
    margin-bottom: 2.75rem;
}

.header .btn-solid-lg {
    display: block;
    margin-bottom: 1.75rem;
}

.header .text-container {
    margin-bottom: 5rem;
}

.video {
    width: 100%;
    height: 100%;
    margin-top: auto;
}


/************************
Referance
*************************/

.item-img {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

hr.style-ref {
    overflow: visible;
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

hr.style-ref:after {
    content: "♦";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}


/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/

.features .row+.row {
    margin-top: 100px;
}

.features h3 {
    font-weight: 400;
    font-size: 24px;
}

.features ul {
    list-style: none;
    padding: 0;
}

.features ul li {
    padding-bottom: 10px;
}

.features ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #68a4c4;
}

.features p:last-child {
    margin-bottom: 0;
}

.frame {
    overflow: visible;
    padding: 3rem;
    color: #333;
    margin-top: 5rem;
}

.img-border {
    border-radius: 50px;
    box-shadow: 8px 8px 2px 1px rgba(230, 230, 230);
}


/*********************/


/*     About Us Card    */


/*********************/

.details {
    padding-top: 8rem;
    padding-bottom: 2rem;
}

.details .image-container {
    margin-bottom: 4rem;
}

.details h2 {
    margin-bottom: 1.875rem;
}

.details h2 span {
    font-weight: 400;
}

.details p:last-of-type {
    margin-bottom: 2rem;
}

.details .btn-solid-reg {
    cursor: pointer;
}


/*********************/


/*    Contact   */


/*********************/

.contact-us {
    padding-top: 130px;
}

.contact-us .section-heading .line-dec {
    margin: 0 auto;
}

.contact-us .section-heading {
    text-align: center;
    margin-bottom: 80px;
}

form#contact:before {
    background-image: url(../images/contact-top-right.png);
    position: absolute;
    right: 0;
    top: 0;
    width: 726px;
    height: 78px;
    background-repeat: no-repeat;
    content: "";
    z-index: 1;
}

.contact-dec img {
    max-width: 300px;
    position: absolute;
    right: 5px;
    top: -215px;
}

form#contact:after {
    background-image: url(../images/contact-bottom-right.png);
    position: absolute;
    right: 0;
    bottom: 0;
    width: 532px;
    height: 106px;
    background-repeat: no-repeat;
    content: "";
    z-index: 1;
}

form#contact {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: #fff;
    border-radius: 23px;
    text-align: center;
}

form#contact #map iframe {
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    margin-bottom: -7px;
    position: relative;
    z-index: 2;
}

.fill-form {
    padding: 80px 60px 80px 30px;
}

.fill-form .info-post {
    margin-bottom: 20px;
}

.fill-form .icon {
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 23px;
    padding: 25px 15px;
}

.fill-form .icon img {
    max-width: 60px;
    display: block;
    margin: 0 auto;
}

.fill-form .icon a {
    margin-top: 15px;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: #2a2a2a;
    transition: all 0.3s;
}

.fill-form .icon:hover a {
    color: #fbe239;
}

form#contact input {
    width: 100%;
    height: 46px;
    background-color: transparent;
    border: 1px solid #eee;
    outline: none;
    font-size: 15px;
    font-weight: 300;
    color: #2a2a2a;
    padding: 0px 20px;
    border-radius: 23px;
    margin-top: 30px;
}

form#contact input::placeholder {
    color: #aaa;
}

form#contact textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 200px;
    min-height: 200px;
    height: 200px;
    border-radius: 23px;
    background-color: transparent;
    border: 1px solid #eee;
    outline: none;
    font-size: 15px;
    font-weight: 300;
    color: #2a2a2a;
    padding: 15px 20px;
    margin-top: 30px;
}

form#contact textarea::placeholder {
    color: #aaa;
}

form#contact button {
    display: inline-block;
    background-color: #fbe239;
    font-size: 15px;
    font-weight: 600;
    color: #222222;
    margin-top: 30px;
    width: 100%;
    text-transform: capitalize;
    padding: 12px 25px;
    border-radius: 23px;
    letter-spacing: 0.25px;
    border: 1px solid #a9a9a9;
    transition: all 0.3s;
    outline: none;
}

form#contact button:hover {
    background-color: #d1d6d8 !important;
    color: #222222 !important;
}

.section-heading h4 {
    color: #2a2a2a;
    font-size: 35px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.section-heading h4 em {
    font-style: italic;
    color: #fbe239;
}

.section-heading .line-dec {
    width: 50px;
    height: 2px;
    background-color: #fbe239;
}


/******************************/


/*     Back To Top Button     */


/******************************/

#myBtn {
    position: fixed;
    z-index: 99;
    bottom: 20px;
    right: 20px;
    display: none;
    width: 52px;
    height: 52px;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: #44434a;
    cursor: pointer;
}

#myBtn:hover {
    background-color: #fee038;
}

#myBtn img {
    margin-bottom: 0.25rem;
    width: 18px;
}


/******************************/


/*     FOOTER                 */


/******************************/

.text-small {
    font-size: 0.9rem;
}

.logo-image {
    width: 250px;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover,
a:focus {
    text-decoration: none;
}

.text-color {
    color: #fbe239;
}

footer {
    background: #222222;
}


/******************************/


/*     SUPPORT                */


/******************************/

.start-nav {
    background: url(../images/1.jpg) no-repeat center center/cover;
    padding: 150px;
    margin-top: 50px;
    width: 100%;
}

.start-nav h3 {
    color: white;
}

ul {
    list-style: none;
}

.text-h3 {
    color: #000;
    margin-top: 100px;
}

.img-version {
    width: 100%;
}

.text-center {
    color: #000;
}

.nav-list {
    display: inline-block;
    padding: 1rem 1rem 1rem 1rem;
    border: 1px solid #a9a9a9;
    border-radius: 10px;
    background-color: #fee038;
    color: #222222;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
    margin-left: 5px;
}

.navtab .nav-itm.dropdown.show .nav-list,
.navtab .nav-itm .nav-list:hover,
.navtab .nav-itm .nav-list.active {
    background-color: #a9a9a9;
    color: #222222;
}

.btn-solid-vs {
    display: inline-block;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: 1px solid #a9a9a9;
    border-radius: 30px;
    background-color: #fee038;
    color: #222222;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
    margin-left: 20px;
}

.btn-solid-vs:hover {
    background-color: #d1d6d8;
    color: #222222;
    /* needs to stay here because of the color property of a tag */
    text-decoration: none;
}

.video-container {
    overflow: hidden;
    position: relative;
    margin-top: 25px;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a,
a:hover {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
    margin: 2rem 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
}


/* Blog Page */

.postcard {
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: #fff;
}

.postcard.dark {
    background-color: #18151f;
}

.postcard.light {
    background-color: #e1e5ea;
}

.postcard .t-dark {
    color: #18151f;
}

.postcard a {
    color: inherit;
}

.postcard h1,
.postcard .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.postcard .small {
    font-size: 80%;
}

.postcard .postcard__title {
    font-size: 1.75rem;
}

.postcard .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.postcard .postcard__img_link {
    display: contents;
}

.postcard .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
}

.postcard .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.postcard .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
}

.postcard .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;
}

.postcard .postcard_tagbox .tag_item {
    display: inline-block;
    background: rgba(83, 83, 83, 0.4);
    border-radius: 3px;
    padding: 2.5px 10px;
    margin: 0 5px 5px 0;
    cursor: default;
    user-select: none;
    transition: background-color 0.3s;
}

.postcard .postcard_tagbox .tag_item:hover {
    background: rgba(83, 83, 83, 0.8);
}

.postcard:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
}

.postcard:hover .postcard__bar {
    width: 100px;
}

@media screen and (min-width: 769px) {
    .postcard {
        flex-wrap: inherit;
    }
    .postcard .postcard__title {
        font-size: 2rem;
    }
    .postcard .postcard__tagbox {
        justify-content: start;
    }
    .postcard .postcard__img {
        max-width: 300px;
        max-height: 100%;
        transition: transform 0.3s ease;
    }
    .postcard .postcard__text {
        padding: 3rem;
        width: 100%;
    }
    .postcard .media.postcard__text:before {
        content: "";
        position: absolute;
        display: block;
        background: #18151f;
        top: -20%;
        height: 130%;
        width: 55px;
    }
    .postcard:hover .postcard__img {
        transform: scale(1.1);
    }
    .postcard:nth-child(2n+1) {
        flex-direction: row;
    }
    .postcard:nth-child(2n+0) {
        flex-direction: row-reverse;
    }
    .postcard:nth-child(2n+1) .postcard__text::before {
        left: -12px !important;
        transform: rotate(4deg);
    }
    .postcard:nth-child(2n+0) .postcard__text::before {
        right: -12px !important;
        transform: rotate(-4deg);
    }
}

@media screen and (min-width: 1024px) {
    .postcard__text {
        padding: 2rem 3.5rem;
    }
    .postcard__text:before {
        content: "";
        position: absolute;
        display: block;
        top: -20%;
        height: 130%;
        width: 55px;
    }
    .postcard.dark .postcard__text:before {
        background: #18151f;
    }
    .postcard.light .postcard__text:before {
        background: #e1e5ea;
    }
}


/* COLORS */

.postcard .postcard__tagbox .green.play:hover {
    background: #79dd09;
    color: black;
}

.green .postcard__title:hover {
    color: #79dd09;
}

.green .postcard__bar {
    background-color: #79dd09;
}

.green::before {
    background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.green:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
    background: #0076bd;
}

.blue .postcard__title:hover {
    color: #0076bd;
}

.blue .postcard__bar {
    background-color: #0076bd;
}

.blue::before {
    background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.blue:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
    background: #bd150b;
}

.red .postcard__title:hover {
    color: #bd150b;
}

.red .postcard__bar {
    background-color: #bd150b;
}

.red::before {
    background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.red:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
    background: #bdbb49;
    color: black;
}

.yellow .postcard__title:hover {
    color: #bdbb49;
}

.yellow .postcard__bar {
    background-color: #bdbb49;
}

.yellow::before {
    background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

.yellow:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

@media screen and (min-width: 769px) {
    .green::before {
        background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
    }
    .green:nth-child(2n)::before {
        background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
    }
    .blue::before {
        background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
    }
    .blue:nth-child(2n)::before {
        background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
    }
    .red::before {
        background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
    }
    .red:nth-child(2n)::before {
        background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
    }
    .yellow::before {
        background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
    }
    .yellow:nth-child(2n)::before {
        background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
    }
}


/*------------------------------------
 BANNER AREA
----------------------------------*/

.content-padding {
    padding: 280px 0px 180px;
}


/* =======================================
INner Pages
=========================================*/

#page-banner {
    position: relative;
    padding: 60px 0px 80px;
}

.page-banner-area {
    background: url("/images/about.gif") no-repeat 50% 50%;
    background-size: cover;
    opacity: 0.8;
}


/*About Card*/

.box {
    position: relative;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px
}

.our-services {
    margin-top: 75px;
    padding-bottom: 30px;
    padding: 0 60px;
    min-height: 198px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    transition: all .4s ease-in-out;
    box-shadow: 0 0 25px 0 rgba(20, 27, 202, .17)
}

.our-services .icon {
    margin-bottom: -21px;
    transform: translateY(-50%);
    text-align: center
}

.our-services:hover h4,
.our-services:hover p {
    color: #fff
}

.speedup:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #fb0054 0%, #f55b2a 100%)
}

.settings:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%)
}

.privacy:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #3615e7 0%, #44a2f6 100%)
}

.backups:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #fc6a0e 0%, #fdb642 100%)
}

.ssl:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #8d40fb 0%, #5a57fb 100%)
}

.database:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #27b88d 0%, #22dd73 100%)
}


/*--------------------------
 BLOG SECTION AREA
----------------------*/

#blog {
    padding-bottom: 55px;
}

.blog-block {
    overflow: hidden;
    transition: all .3s ease 0s;
}

.blog-block img {
    margin-bottom: 10px;
}

.blog-text {
    padding: 20px;
}

.blog-text .author-name {
    font-weight: 400;
}

.blog-text .author-name span {
    margin-right: 10px;
    font-weight: 600;
}

.blog-block .read-more,
.blog-block span {
    color: #635CDB;
}


/* =================================
BLOG PAGE
===================================*/

.blog-post {
    margin-bottom: 50px;
}

.blog-post img {
    border-radius: 5px;
}

.blog-post .post-author i,
.blog-post .post-info i {
    margin-right: 5px;
    font-size: 14px;
}

.blog-post .post-author span,
.blog-post .post-info span {
    font-size: 14px;
}

.page-banner {
    background: url("/images/FİND\ OBJECT\ VE\ OBJECT\ COUNTER.png") no-repeat 50% 50%;
    background-size: cover;
    opacity: 0.8;
}

.sidebar-widget {
    margin-bottom: 40px;
    padding-left: 20px;
}

.category ul li {
    margin-bottom: 10px;
    text-transform: capitalize;
    position: relative;
    padding-left: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.category ul li:before {
    position: absolute;
    content: "\f105";
    left: 0px;
    top: 0px;
    font-family: "Font Awesome 5 Free";
    color: #635CDB;
    font-weight: 900;
}

.tag a {
    text-transform: capitalize;
    padding: 5px 8px;
    border: 1px solid #eee;
    margin-bottom: 5px;
    font-size: 14px;
    display: inline-block;
}

.search i {
    position: absolute;
    right: 0px;
    top: 0px;
    margin-right: 35px;
    margin-top: 15px;
    color: #635CDB;
}


/* ==================================
BLOG SINGLE
=====================================*/

.quote-blog i {
    font-size: 50px;
    margin-right: 10px;
    position: absolute;
    left: 0px;
}

.quote-blog {
    font-size: 18px;
    line-height: 32px;
    color: #222;
    position: relative;
    margin: 50px 0px;
    padding-left: 70px;
}

.comments img {
    width: 80px;
    height: 80px;
}

.section-padding {
    padding: 90px 0px;
}

.section-heading {
    text-align: center;
    width: 70%;
    margin: 0 auto 60px;
}

.section-title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.section-title span {
    color: #635CDB;
}

.section {
    padding: 100px 0px;
}


/*RESPONSIVE*/

@media (min-width: 768px) and (max-width: 991.98px) {
    /*----------------------
    CONTENT PADDING
    -----------------------*/
    .content-padding {
        padding: 250px 0px 100px;
    }
    /*----------------------
     SECTION HEAINDG
    -----------------------*/
    .section-heading {
        width: 100%;
    }
    /*--------------
     BLOG
    ----------------*/
    .blog-text {
        padding: 0px;
        margin-top: 10px;
    }
    .blog-tex h5 {
        font-size: 15px;
    }
    .blog-text p {
        font-size: 14px;
    }
    .pricing-block {
        margin-bottom: 30px;
    }
}

@media (max-width: 575.98px) {
    /*----------------------
    CONTENT PADDING
    -----------------------*/
    .content-padding {
        padding: 50px 0px 80px;
    }
    /*----------------------
     SECTION HEAINDG
    -----------------------*/
    #intro .section-heading,
    .section-heading {
        width: 100%;
    }
    #intro .section-heading p {
        font-size: 16px;
        line-height: 28px;
    }
    .section-title {
        font-size: 26px;
        line-height: 36px;
    }
    h1 {
        font-size: 32px;
        line-height: 36px;
    }
    /*--------------------
     BANNER
    -----------------*/
    .banner-content .banner-title {
        line-height: 37px;
    }
    .banner-content p {
        font-size: 16px;
    }
    /*----------------
     INTRO
    ----------------*/
    #intro {
        padding-bottom: 90px;
    }
    /*----------------
     ABOUT
    ----------------*/
    .about-list li {
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }
    .about-bg-img {
        width: 35%;
        height: 100%;
        max-height: 600px;
    }
    .about-content {
        margin-top: 60px;
    }
    #about {
        padding-bottom: 40px;
    }
    .img-block img {
        width: 130px;
    }
    .service-block {
        margin-bottom: 20px;
    }
    /*--------------
     BLOG
    ----------------*/
    .blog-block {
        margin-bottom: 30px;
    }
    .blog-text {
        padding: 10px;
        margin-top: 10px;
        text-align: center;
    }
    .blog-tex h5 {
        font-size: 15px;
    }
    .blog-text p {
        font-size: 14px;
    }
}


/*************************/


/*     Media Queries     */


/*************************/


/* Min-width 320px */


/* Min-width 768px */


/* end of min-width 768px */


/* Min-width 992px */

@media (min-width: 992px) {
    /* Navigation */
    .navbar.extra-page {
        padding-top: 0.5rem;
    }
    .navbar.top-nav-collapse {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: #ffffff;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    }
    .offcanvas-collapse {
        position: static;
        top: auto;
        bottom: auto;
        left: auto;
        width: auto;
        padding-right: 0;
        padding-left: 0;
        background-color: transparent;
        overflow-y: visible;
        visibility: visible;
    }
    .offcanvas-collapse.open {
        -webkit-transform: none;
        transform: none;
    }
    .navbar .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
    }
    .navbar .nav-item .nav-link {
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }
    .navbar .nav-item .btn-solid-sm {
        margin-top: 0;
        margin-left: 1rem;
    }
    /* end of navigation */
    /* Header */
    .header {
        text-align: left;
    }
    .header .text-container {
        margin-bottom: 0;
    }
    .header .btn-solid-lg {
        padding: 2rem 10rem 2rem 10rem;
    }
    .header .btn-solid-lg,
    .header .quote {
        display: inline-block;
    }
    /* end of header */
}


/* end of min-width 992px */


/* Min-width 1200px */

@media (min-width: 1200px) {
    /* General Styles */
    .container {
        max-width: 1340px;
    }
    /* end of general styles */
    /* Header */
    .header {
        overflow: hidden;
        padding-top: 12.25rem;
        padding-bottom: 2rem;
    }
    .header .image-container {
        position: relative;
    }
    .header .image-container img {
        position: absolute;
        top: -80px;
        left: 10px;
        width: 840px;
        max-width: none;
    }
    /* end of header */
}


/* end of min-width 1200px */